
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}
@model List<FirstMvcProject.Models.Employee>
<h2>Index</h2>
<span id="Date"></span>
<input id="GetDateWithJson" type="submit" value="Get Date" />
<input type="submit" value="Goto Update Employee" onclick="window.location.href='UpdateEmployee'" />
<br />
<p>Age=@ViewData["Age"]</p>
<br />
<p>Job=@ViewBag.Job</p>
<br />
<a href="@Url.RouteUrl("Category", new {@Title = "Programming"})"><strong>Category</strong></a>
<br />
<a href="@Url.RouteUrl("Detail", new {@Title = "Programming", @DetailName = "C# programming"})"><strong>Detail Page</strong></a>
<table border="1" cellpadding="3" cellspacing="3">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Salary</td>
        </tr>
    }
</table>
<script src="~/Content/jquery-3.6.0.js"></script>
<script>
    $(function () {
        $("#GetDateWithJson").click(
            function () {
                $.ajax({
                    url: "@Url.Action("GetDateWithJson", "Employee")",
                    type: "POST",
                    success: function (result) {
                        $("#Date").html(result);
                    }
                });
            }
        );
    });
</script>
